body {
    background-color: lightcyan;
}

.floatleft {
    float: left;
    /*TRouBLe -> TOP, RIGHT, BOTTOM, LEFT*/
    margin: 0 1rem 1rem 1rem;
    border-radius: 100px;
}

.floatright {
    float: right;
}


article {
    width: 30rem;
    border: 3px solid red;
    /*article needs to be in center so text-align is not working here*/
    /*margin is working*/
    /*Top & bottom, left & right*/
    /*auto means calculate how much extra space browser have and divided it with 2 and stick half
    in each side of the box*/
    margin: 0 auto;
}

/*when use float clear it with this formula*/
article:after {
    content: "";
    display: table;
    clear: both;
}
