
body {
    background-color: lightgreen;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

h1 {
    font-weight: bold;
    background-color: lightpink;
}

ol {
    background-color:lightskyblue;
    font-family: fantasy;

}

.course {
    font-style: italic;
}